
@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <!---->ViewBag.AcercaA = "active";
}

<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" _msthash="254137" _msttexthash="95589">Acerca de Nosotros</h1>
        <p class="lead" _msthash="241904" _msttexthash="23907715">
            Somos una empresa dedicada dedica a la venta de equipos de video
            vigilancia y seguridad. Ofreciendo una solución global a empresas, profesionales,
            administraciones y usuarios particulares, a todo el territorio nacional. ya que
            contamos con equipos de alto rendimiento y confiabilidad.

        </p>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            </br>
            </br>
            <h2 class="featurette-heading">¿Que es <span class="text-muted"> SmallSoft</span>?</h2>
            <p class="lead">
                SmallSoft es una empresa que ofrece soluciones en sistemas de seguridad
                aplicadas a nuestro público principal PYMES e igualmente público en general,
                como se mencionó anteriormente, fue fundada recientemente en el año 2020 en
                León, Guanajuato. Conocer el mercado para poner en marcha una empresa no es
                suficiente, es importante conocer el enfoque de servicio y conocer más acerca de
                la necesidad del cliente para ofrecerle algo que realmente solucione el problema o
                impacte en sus operaciones, en otras palabras, no quedarse en el requerimiento
                inicial. Una verdadera propuesta debe cubrir las necesidades, la explicación del
                servicio y tomar en cuenta el tiempo el costo y alcance, para que de esta manera
                surja la calidad, término que hace un punto importante dentro de los productos,
                servicios de la empresa.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/Content/img/about-SmallSoft.png" alt="">

            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="/conten" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@

        </div>
    </div>
    </br>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5" _msthash="629642" _msttexthash="187317">Mision</h2>
                <p class="lead" _msthash="610740" _msttexthash="944255">
                    Mejorar la seguridad de nuestros clientes, empleados y comunidad, así como inspirar a otros a hacerlo también.
                </p>
                <p class="lead" _msthash="610740" _msttexthash="944255">
                    En la actualidad, parece que todas preguntamos por como tener mas seguirda. Sin embargo, SmallSoft tiene una de los mejores servicios en seguidad. Inspirando a nuestros clientes ofreciendo servicos garantisados.

                </p>
            </div>
        </div>

        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5" _msthash="629642" _msttexthash="187317">Vision</h2>
                <p class="lead" _msthash="610740" _msttexthash="944255">
                    "Ofrecer la mejor experiencia en seguridad por medio de nuestros servicios".
                </p>
                <p class="lead" _msthash="610740" _msttexthash="944255">
                    SmallSoft conoce que el mundo de  la seguidad seguirá creciendo y prevalecerá; en consecuencia, se esfuerza por lograr una experiencia sobresaliente en los servicios que ofrecemos

                </p>
            </div>
        </div>

    </div>



    <br/>
    <div class=" mb-3">
        <img src="~/Content/img/about-service.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="display-5 text-center" _msthash="629642" _msttexthash="187317">Productos y Servicios</h2>
            <p class="lead " _msthash="610740" _msttexthash="944255">
                Los servicios que ofreceremos son completamente intangibles, ofrecemos soluciones en TI, digitalizando o mejorando las empresas de nuestros clientes de manera tecnológica y moderna, ofreciendo sistemas para la gestión de materiales, sitios web.
                <br />
                Lo que nos distingue, es una calidad excepcional a un precio razonable, nuestros productos finales se caracterizan por una buena gestión y desarrollo gracias a nuestro personal capacitado.
                <br />
                Nuestros servicios permiten, crear productos de calidad para facilitar los procesos de producción de cualquier empresa, con un diseño interactivo simple pero atractivo, siento totalmente intuitivo y con una gran capacidad de almacenamiento de datos.
            </p>
         
        </div>
    </div>

    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user01.png" alt="">
            @*<svg class="bd-placeholder-img rounded-circle text-center" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@

            <h2 class="text-center">ÁLVAREZ GABRIELA</h2>
            <p>
                Realiza el análisis previo de todos los proyectos a desarrollar (requerimientos funcionales, no funcionales, estimación de costos, tiempos).
            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user02.png" alt="">

            <h2 class="text-center">CASTILLO RODRIGO</h2>
            <p>
                Desarrollar sitios web y aplicaciones, definir la interfaz gráfica del proyecto.

            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user03.png" alt="">

            <h2 class="text-center">CAUDILLO JOSE</h2>
            <p>
                Administrar, supervisar y asegurar el adecuado uso de los datos dentro de un DBMS (Database Management System). Además, mantener la arquitectura y funcionalidad del sitio.Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user04.png" alt="">    

            <h2 class="text-center">CORTÉS GUADALUPE</h2>
            <p>
                Impulsar el trabajo en equipo dentro de la empresa, motivando a los empleados al crecimiento para incrementar la eficiencia de la compañía.
            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user05.png" alt="">

            <h2 class="text-center">RODRÍGUEZ MARTIN</h2>
            <p>
                Planificar y llevar a cabo pruebas de software para comprobar su funcionalidad. Además, identificar errores y evalúan el funcionamiento general del software y sugerir formas de mejorarlo.
            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
            <img class="bd-placeholder-img rounded-circle text-center" width="140" height="140" src="~/Content/img/about-user06.png" alt="">

            <h2 class="text-center">TOSTADO ROBERTO</h2>
            <p>
                Analizar los requerimientos funcionales, no funcionales, controlar las actividades y todos los elementos que intervienen en el desarrollo del proyecto.

            </p>
            @*<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>*@
        </div><!-- /.col-lg-4 -->
    </div>




</div> <!-- /container -->
