
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    <!---->ViewBag.ServiciosA = "active";
}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" _msthash="254137" _msttexthash="95589">Servicios</h1>
        <p class="lead" _msthash="241904" _msttexthash="23907715">Cree rápidamente una tabla de servicios eficaz para sus clientes potenciales con este ejemplo de Bootstrap. Está construido con componentes y utilidades de Bootstrap predeterminados con poca personalización.</p>
    </div>



    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5" _msthash="629642" _msttexthash="187317">Venta de sistemas de seguridad</h2>
                <p class="lead" _msthash="610740" _msttexthash="944255">Somos una empresa especializada en la venta de los mejores sistemas de seguridad a nivel nacional, adecuandonos a las necesidades de nuestros clientes trabajando en la variedad de productos proporcionando una asesoría si es necesaria sobre los beneficios de cada uno.</p>
            </div>

            <img class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="~/Content/img/servicios-01.png" />
            @*<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

        </div>*@
        </div>

        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5" _msthash="629642" _msttexthash="187317">Consultoría de Seguridad</h2>
                <p class="lead" _msthash="610740" _msttexthash="944255">
                    Contamos con alta experiencia al servicio del Cliente para poder asistirle con las mejores opciones para seguridad.  El motivo principal es lograr una perfecta alineación entre las necesidades de cada individuo y/o organización
                </p>
            </div>
            <img class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" src="~/Content/img/servicios-02.png" />
            @*<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

            </div>*@
        </div>

    </div>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" _msthash="254137" _msttexthash="95589">PAQUETES</h1>
        <p class="lead" _msthash="241904" _msttexthash="23907715">
            El mercado de implementación, venta y asesoramiento en sistemas de
            seguridad cada vez va en aumento, día con día se crean empresas que hacen uso
            de diversos materiales para producir sus respectivos productos personalizados y/o
            asesoramiento adecuados a sus necesidades.

        </p>
    </div>

    </hr>


    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" _msthash="877591" _msttexthash="77701">Casa Habitacion</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" _msthash="876538" _msttexthash="43810">Desde $10 <small class="text-muted">/ instalacion</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li _msthash="1141335" _msttexthash="419250">
                        El sistema de videovigilancia se complementa con un buen equipo de
                        análisis, SmallSoft ofrece servicios de instalación de equipos de seguridad, de dos
                        formas ya sea que nuestros clientes compren nuestros productos o bien que ellos
                        mismos tenga ya listo el equipo previo.
                    </li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" _msthash="1158352" _msttexthash="341562">Regístrese gratis</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" _msthash="877981" _msttexthash="32123">Pequeñas Empresas</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" _msthash="876928" _msttexthash="71461">Desde $15 <small class="text-muted" _istranslated="1">/ por instalacion</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li _msthash="1141725" _msttexthash="419341">20 usuarios incluidos</li>
                    <li _msthash="1142323" _msttexthash="431301">10 GB de almacenamiento</li>
                    <li _msthash="1142921" _msttexthash="1431742">Soporte prioritario por correo electrónico</li>
                    <li _msthash="1143519" _msttexthash="488332">Acceso al centro de ayuda</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" _msthash="1158742" _msttexthash="95693">Empezar</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal" _msthash="878371" _msttexthash="94315">Empresa</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" _msthash="877318" _msttexthash="72033">Desde $29 <small class="text-muted" _istranslated="1">/ por instalacion</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li _msthash="1142115" _msttexthash="419432">30 usuarios incluidos</li>
                    <li _msthash="1142713" _msttexthash="431821">15 GB de almacenamiento</li>
                    <li _msthash="1143311" _msttexthash="1460875">Soporte telefónico y por correo electrónico</li>
                    <li _msthash="1143909" _msttexthash="488332">Acceso al centro de ayuda</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" _msthash="1159132" _msttexthash="204061">contáctenos</button>
            </div>
        </div>
    </div>


</div> <!-- /container -->
