<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted" _msthash="1259453" _msttexthash="84370">© 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5 _msthash="1039454" _msttexthash="136006">Funciones</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#" _msthash="1320592" _msttexthash="205075">Cosas frescas</a></li>
                    <li><a class="text-muted" href="#" _msthash="1321229" _msttexthash="337558">Función aleatoria</a></li>
                    <li><a class="text-muted" href="#" _msthash="1321866" _msttexthash="597948">Característica del equipo</a></li>
                    <li><a class="text-muted" href="#" _msthash="1322503" _msttexthash="614874">Cosas para desarrolladores</a></li>
                    <li><a class="text-muted" href="#" _msthash="1323140" _msttexthash="47021">Otro</a></li>
                    <li><a class="text-muted" href="#" _msthash="1323777" _msttexthash="200317">La última vez</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 _msthash="1039961" _msttexthash="118690">Recursos</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#" _msthash="1321099" _msttexthash="118690">Recursos</a></li>
                    <li><a class="text-muted" href="#" _msthash="1321736" _msttexthash="323414">Nombre del recurso</a></li>
                    <li><a class="text-muted" href="#" _msthash="1322373" _msttexthash="187785">Otro recurso</a></li>
                    <li><a class="text-muted" href="#" _msthash="1323010" _msttexthash="206388">Recurso final</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 _msthash="1040468" _msttexthash="110331">acerca de</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#" _msthash="1321606" _msttexthash="78702">Equipo</a></li>
                    <li><a class="text-muted" href="#" _msthash="1322243" _msttexthash="178217">Ubicaciones</a></li>
                    <li><a class="text-muted" href="#" _msthash="1322880" _msttexthash="151736">Privacidad</a></li>
                    <li><a class="text-muted" href="#" _msthash="1323517" _msttexthash="131248">Términos</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>